<div class="container">
    <div class="row">
    <div class="col-md-8">
    <h1>Productos</h1>
    </div>
    <div class="col-md-4">
    <button type="button" class="btn btn-info">
        AGREGAR
    </button>
    </div>
    </div>
    
    <div class="row">
     <div class="col-md-12">
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-3">
    <label style="font-weight: bold;">Buscar</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control"  placeholder="Ingrese la palabra">
    </div>
    </div>
    </div>
     </div>   
    <div class="col-md-12 my-2">
    
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th>COD CIA</th>
                <th>ID PRODUCTO</th>
                <th>NOMBRE PRODUCTO</th>
                <th>CATEGORIA</th>
                <th>PROVEEDOR</th>
                <th>EXENTO</th>
                <th>ESTADO</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaClientes">
                  <td>
                      {{item.cia}}
                  </td>
                  <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.nombre}}
                </td>
            
                <td>
                    {{item.cat}}
                </td>
                <td>
                    {{item.prov}}
                </td>
                <td>
                    {{item.exento}}
                </td>
                <td>
                    {{item.estado}}
                </td>
                <td>
                    <button class="btn btn-danger" title="EDICION" data-toggle="modal" data-target=".bd-example-modal-xl">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm" title="ELIMINAR">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
    
              </tr>
            </tbody>
          </table>
    
    </div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    <!---modales-->
    
    
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
           
    <!--CUERPO MODAL-->
    
    <div class="card text-black mb-3" style="max-width: 1000px;">
        <div class="card-header text-white bg-danger">GESTION DE PRODUCTO</div>
        <div class="card-body">
        
            <div class="form-row my-2">
                <div class="col-md-4">
                    <label for="inputEmail">Id Producto</label> <br>
                    <label for="inputEmail">SERV-1019</label>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail">Nombre Producto</label>
                    <input type="text" class="form-control">
                </div>

               <div class="col-md-4">
                    <label for="inputEmail">Marca</label>
                    <select class="form-control" >
                        <option *ngFor="let doc of lstDocs" 
                        [value]="doc.codigo">{{doc.valor}}</option>
                      </select>
               </div>

            <div class="col-md-4">
                <label for="inputEmail">Material</label>
                <input type="text" class="form-control">
            </div>

            <div class="col-md-4">
                <label for="inputEmail">Exento</label>
                <select class="form-control" >
                    <option value="s">SI</option>
                    <option value="n">NO</option>
                  </select>
           </div>

           <div class="col-md-4">
            <label for="inputEmail">Stock Maximo</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="inputEmail">Costo U.</label>
            <input type="text" class="form-control">
        </div>

        

        <div class="col-md-4">
            <label for="inputEmail">Tipo Comision</label>
            <select class="form-control" >
                <option value="s">NIGUNA</option>
                <option value="n">POR VALOR</option>
              </select>
       </div>

   <div class="col-md-4">
        <label for="inputEmail">V. Comision</label>
        <input type="text" class="form-control">
    </div>

            </div>

            <div class="form-row my-2">
                <div class="col-md-4">
                    <label for="inputEmail">Fecha Creacion</label>
                    <input type="text" value="02/07/2018" class="form-control">
                </div> 
                <div class="col-md-4">
                    <label for="inputEmail">Categoria</label>
                    <select class="form-control" >
                        <option value="1">SERVICIO</option>
                        <option value="2">PRODUCTO</option>
                      </select>
               </div>

           <div class="col-md-4">
                <label for="inputEmail">Proveedor</label>
                <input type="text" value="SELECCIONE" class="form-control">
            </div> 

            <div class="col-md-4">
                <label for="inputEmail">Procedencia</label>
                <select class="form-control" >
                    <option value="1">NACIONAL</option>
                    <option value="2">IMPORTACION</option>
                  </select>
           </div>

           <div class="col-md-4">
            <label for="inputEmail">Stock Minimo</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="inputEmail">Stock Advertencia</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="inputEmail">Precio V.</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="inputEmail">(%) Comision</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="inputEmail">Estado</label>
            <select class="form-control" >
                <option value="1">ACTIVO</option>
                <option value="2">INACTIVO</option>
              </select>
       </div>

            </div>
            
            <div class="form-row my-2">
            <div class="col-md-6">
                <button type="button" class="btn btn-danger">
                    GUARDAR PROD.
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger">
                   CANCELAR
                </button>
            </div>
            </div>

    
      <!--FIN </form> MODAL-->    
        </div>
      </div>
    
    
    <!--FIN CUERPO MODAL-->
          </div>
        </div>
    </div>
    
    
    
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="col-md-12">
                <div class="card card-outline-primary mb-3 text-center">
                  
                  <h3 class="card-title">CONFIRMACION</h3>
                  <p class="card-text">¿Esta seguro? Se eliminara toda la informacion relacionada</p>
                  <a href="#" class="btn btn-primary text-white">SI</a>
                  <a href="#" class="btn btn-primary text-white">NO</a>
               
              </div>
              </div>
          </div>
        </div>
      </div>

