<div class="steppers-container row">
    <div class="col-md-12">
        <nb-card>
            
            <nb-card-header style="background-color: #1A0F73;">
                <strong>
                   <h6 style="color: white;">Proveedor</h6>
                </strong>
             </nb-card-header>
             <nb-card-body>

                <div class="container">
                    <div class="row">
                
                    <div class="col-md-4">
                    <button type="button" class="btn btn-info btn-block btn-sm">
                        AGREGAR
                    </button>
                    <button type="button" class="btn btn-primary btn-block btn-sm">
                        IMPRIMIR
                    </button>
                    </div>
                    </div>
                    
                    <div class="row my-2">
                    <div class="col-md-12">
                        <div class="row">
                    
                        <div class="col-md-9">
                            <input type="text" class="form-control"  placeholder="Ingrese la palabra a buscar">
                        </div>
                        
                        </div>
                    </div>   
                    <div class="col-md-12 my-2">
                    
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                              <tr>
                                <th>COD CIA</th>
                                <th>ID PROVEEDOR</th>
                                <th>NOMBRE PROVEEDOR</th>
                                <th>CI/RUC</th>
                                <th>ESTADO</th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of listaClientes">
                                  <td>
                                      {{item.cia}}
                                  </td>
                                  <td>
                                    {{item.id}}
                                </td>
                                <td>
                                    {{item.nombre}}
                                </td>
                            
                                <td>
                                    {{item.ci}}
                                </td>
                                <td>
                                    {{item.estado}}
                                </td>
                                <td>
                                    <button class="btn btn-info" title="EDICION" data-toggle="modal" data-target=".bd-example-modal-xl">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-sm" title="ELIMINAR">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                    
                              </tr>
                            </tbody>
                          </table>
                    
                    </div>
                    </div>
                </div>

             </nb-card-body>

        </nb-card>
    </div>
</div>













    
    
    
    



















    
    
    
    
    
    <!---modales-->
    
    
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
           
    <!--CUERPO MODAL-->
    
    <div class="card text-black mb-3" style="max-width: 1200px;">
        <div class="card-header text-white bg-primary">GESTION DE PROVEEDORES</div>
        <div class="card-body">
            <fieldset class="border p-2 scheduler-border fondo_verde">
                <legend class="w-auto scheduler-border"><b class="title">Datos del Proveedor</b></legend>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 form-group">
                            <label class="col-12">Nombre Proveedor</label> <br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                          class="fa fa-user"></i></span>
                                 </div>
    
                                 <input type="text" class="form-control" disabled value="UNITED PARCEL SERVICE  CO">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 form-group">
                            <label for="inputEmail">Tipo documento</label>
                            <select class="form-control" >
                                <option *ngFor="let doc of lstDocs" 
                                [value]="doc.codigo">{{doc.valor}}</option>
                              </select>
                        </div>
                        
                        <div class="col-sm-12 col-md-4 form-group">
                            <label class="col-12">Documento</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                          class="fa fa-user"></i></span>
                                 </div>
    
                                 <input type="text" class="form-control">
                            </div>
                            
                        </div>

                        <div class="col-sm-12 col-md-6 form-group">
                            <label class="col-12">Dirección</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                          class="fa fa-user"></i></span>
                                 </div>
    
                                 <textarea class="form-control" rows="2" id="comment"></textarea>
                            </div>
                           
                        </div>

                        <div class="col-sm-12 col-md-2 form-group">
                            <label class="col-12">Telefono</label>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                          class="fa fa-user"></i></span>
                                 </div>
    
                                 <input type="text" class="form-control">
                            </div>

                          
                        </div>

                        <div class="col-sm-12 col-md-4 form-group">
                            <label for="inputEmail">Correo</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                          class="fa fa-user"></i></span>
                                 </div>
    
                                 <input type="text" class="form-control">
                            </div>

                            
                        </div>

                        <div class="col-sm-12 col-md-4 form-group">
                            <label for="inputEmail">Correos Adicionales (separar por ;)</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                          class="fa fa-user"></i></span>
                                 </div>
    
                                 <input type="text" class="form-control">
                            </div>
                           
                        </div>

                        <div class="col-sm-12 col-md-4 form-group my-4">
                            <label for="inputEmail">Estado:</label>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optradio">ACTIVO
                                </label>
                              </div>
            
                              <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optradio">INACTIVO
                                </label>
                              </div>
                              
                        </div>

                        <div class="col-sm-12 col-md-4 form-group my-2">
                           
                                <button type="button" class="btn btn-info">GUARDAR</button>
                            
                        </div>

                    </div>
                </div>
            </fieldset>





    
      <!--FIN </form> MODAL-->    
        </div>
      </div>
    
    
    <!--FIN CUERPO MODAL-->
          </div>
        </div>
    </div>
    
    
    
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="col-md-12">
                <div class="card card-outline-primary mb-3 text-center">
                  
                  <h3 class="card-title">CONFIRMACION</h3>
                  <p class="card-text">¿Esta seguro? Se eliminara toda la informacion relacionada</p>
                  <a  class="btn btn-primary text-white">SI</a>
                  <a  class="btn btn-primary text-white my-2">NO</a>
               
              </div>
              </div>
          </div>
        </div>
      </div>
